﻿@{
        ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h3>Laboratorio#6:Introducción a JavaScript y CSS</h3>
    <p class="lead">Este laboratorio fue elaboarado por Eduardo Ayales, José David Ureña y José David Delgado</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<h5>En el apartado de quizz en la barra de navegación se puede llevar a cabo la prueba corta</h5>
