﻿@{
    ViewBag.Title = "Prueba Corta";
}
<style>
    h2 {
        margin-bottom: 20px;
    }
</style>

<h2>@ViewBag.Title</h2>
<div class="mb-3">
    <label id="label" for="cantidad" class="form-label">Indique la cantidad de preguntas (5-20)</label> <br />
    <input type="number" class="form-control" id="cantidad" min=5 max=20 placeholder="Escribe aquí el valor numérico">
</div>
<br />
<button id="buttonInicial" onclick="show()" type="button">Continuar</button>
<br />

@for (var i = 0; i < 20; ++i)
{
    <div class="mb-3">
        <label id="label @i" for="Pregunta @i" class="form-label">@ViewBag.preguntas[i].enunciado</label> <br />
        <input type="number" class="form-control" id="Pregunta @i" placeholder="Escribe aquí la respuesta">
    </div>
    <p id="correct @i"></p>
}
<button id="button1" onclick="verRespuestas()" type="button">Ver Respuestas correctas</button>
<button id="button2" onclick="revisar()" type="button">Revisar mis respuestas</button>


<script>
    window.onload = hideAll();
    function hideAll() {
        document.getElementById("button1").style.display = 'none'
        document.getElementById("button2").style.display = 'none'
        for (let i = 0; i < 20; ++i) {
            document.getElementById('Pregunta ' + i).style.display = 'none'
            document.getElementById('correct ' + i).style.display = 'none'
            document.getElementById('label ' + i).style.display = 'none'

        }
    }
    function verRespuestas() {
        console.log('Hello world!!')
        let answers = [60, 3, 2, 1, 6, 15, 45, 135, 16, 10, 3, 9, 10, 60, 10, 27, 72, 120, 6, 30];
        for (let i = 0; i < 20; ++i) {
            document.getElementById('correct ' + i).style.display = 'none'
            document.getElementById("Pregunta " + i).value = answers[i];
        }
    }
    function isCorrect(questionNumber) {
        let answers = [60, 3, 2, 1, 6, 15, 45, 135, 16, 10, 3, 9, 10, 60, 10, 27, 72, 120, 6, 30];
        if (document.getElementById('Pregunta ' + questionNumber).value != answers[questionNumber]) {
            document.getElementById('correct ' + questionNumber).innerHTML = '<strong> Error  , la respuesta correcta es: ' + answers[questionNumber] + "</strong >"
        }
        else {
            document.getElementById('correct ' + questionNumber).innerHTML = '<strong>Respuesta Correcta!!</strong>';
        }
    }
    function revisar() {
        console.log('revisado')
        for (let i = 0; i < 20; ++i) {
            isCorrect(i);
        }
    }
    function show() {
        let limSuperior = document.getElementById('cantidad').value;
        for (let i = 0; i < limSuperior; ++i) {
            document.getElementById('Pregunta ' + i).style.display = 'block'
            document.getElementById('correct ' + i).style.display = 'block'
            document.getElementById('label ' + i).style.display = 'block'
        }
    }
    document.getElementById('button1').style.display = 'block'
    document.getElementById('button2').style.display = 'block'
</script>

